@font-face{
	font-family: 'titr';
	src:url('fonts/BTitrBold.eot?#');
	src:url('fonts/BTitrBold.woff');
	src:url('fonts/BTitrBold.ttf');
}

@font-face{
	font-family: 'koodak';
	src:url('fonts/BKoodakBold.eot?#');
	src:url('fonts/BKoodakBold.woff');
	src:url('fonts/BKoodakBold.ttf');
}

@font-face{
	font-family: 'nazanin';
	src:url('fonts/BNazanin.eot?#');
	src:url('fonts/BNazanin.woff');
	src:url('fonts/BNazanin.ttf');
}

.site-logo-container{
	padding: 20px 16px 0px 16px;
	height: 68px;
	position: relative;
	line-height: 50px;
}

.site-logo{
	background-color: transparent;
	letter-spacing: 3px;
	font-size: 37px;
	padding-left: 2px;
	font-family: "Segoe UI",Arial,sans-serif;
}

.site-logo-container-top-text{
	float: right !important;
	font-size: 18px;
	letter-spacing: 4px;
	font-family: "Segoe UI",Arial,sans-serif;

}

.site-navbar{
	background-color: #5f5f5f;
	line-height: 30px;
	overflow: hidden;
}

ul.topnav{
	list-style-type: none;
	padding: 0;
	line-height: 25.5px;
	letter-spacing: 1px;
}

ul.topnav li {
	float: right;
}

ul.topnav li a{
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	font-family: titr;
	font-size: 20px;
}

ul.topnav-icon{
	list-style-type: none;
	line-height: 25.5px;
}

ul.topnav-icon li i{
	color: #f2f2f2;
	font-size:20px;
	
}

.search{
	position: relative;
	display: none;
}

.searchdiv{
	max-width:400px;
	margin: auto;
}

.searchdiv-label{
	float: right;
	font-family: titr;
}

.searchinput{
	float: right;
	font-family: koodak;
	font-size: 20px;
	width: 70%;
}

.searchbutton{
	width: 25%;
	float: left;
}

.searchbutton i{
	font-size: 20px;
	padding-top: 7px;
	padding-bottom: 6px;
}

.contactus-form{
    direction: rtl;
    font-family: koodak;
    width: 50%;
    margin: auto;
}

.contactus-form-label{
    direction: rtl;
    font-family: titr;
}

.err-label{
    font-family: titr;
    color: red;
}

.text-input{
    font-family: nazanin;
    font-size: 20px;
    width: 60% !important;
}

.text-area{
    font-family: nazanin;
    font-size: 20px;
}

.article{
    width: 70%;
    margin: auto;
    background-color: rgb(245, 245, 220);
    box-shadow: 0 0 10px 6px #FFEBCD;
}

.footer{
    position: relative;
    background-color: rgb(105, 105, 105);
    color: rgb(245, 245, 245);
    direction: rtl;
    font-family: koodak;
    bottom: 0;
}

body{
    background-image: url(image/backgroundimage.png);
}

a{
	text-decoration: none;
	background-color: transparent;
}

button{
    font-family: titr;
    position: relative;
    right: 45%;
}
