/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background: white center 0;background: #242B2E;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:justify;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}
.clear {clear: both;}
::selection {background: #01A3FE!important;color: black !important; }
::-moz-selection {background: #01A3FE!important;color: white !important;}
input:-webkit-autofill {background: #FFFFFF!important;}
a {color: inherit; text-decoration: none;}
.clear {clear: both;width: 100%;height:1px;}
.transitions, a:hover, li:hover > ul li, input[type="text"], input[type="password"] {-o-transition: all 300ms;-moz-transition: all 300ms;-ms-transition: all 300ms;-webkit-transition: all 300ms;transition: all 300ms;}
a:hover {}
h1,h2,h3,h4,h5,h6,a,p,ul,span,li,div {font-family: "traffic";}
li {list-style: none;}
@font-face {
  font-family: 'roya';
  src: url('../fonts/BRoya.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/BRoya.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/BRoya.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
/************************************Master Template*********************************/
body {
	background: url(../images/masterbg.jpg) fixed;
	background-size: 100%;
  font-size: 14px;
  line-height: 22px;
  font-family: arial, sans-serif;
  color: #fff;
}
.wrapper {
	margin: 0 auto;
	overflow: hidden;
	width: 980px;
}
h1#logo {
	width: 272px;
    font-size: 0;
    line-height: 0;
    float: right;
}
h1#logo>a{
	height: 75px;
    background: url(../images/logo.png) no-repeat 0 0;
    text-indent: -4000px;
    display: block;
}
nav.wrapper {
  margin-top: 12px;
}
nav.wrapper>ul {
    margin-left: 19%;
		width: 519px;
    height: 49px;
    padding: 6px 0px 0px 0px;
    margin-top: 1px;
    position: relative;
    margin-right: -5px;
    background: url(../images/navigation.png) no-repeat 0 0;
    font-family: 'coolvetica', arial, helvetica, serif;
    font-size: 20px;
    color: #fff;
    float: left;
    list-style: none;
    list-style-position: outside;
    line-height: 49px;
    font-weight: bold;
}
nav.wrapper>ul>li{
    float: right;
    padding-right: 2px;
    background-color: transparent;
}
nav.wrapper>ul>li>a {
	display: block;
    color: #fff;
    text-shadow: rgba(0,0,0,0.5) 0px 2px 2px;
    padding: 0 47px;
    position: relative;
    font-family: roya;
}
nav.wrapper>ul>li:last-child{
  background-color: transparent;
}
nav.wrapper>ul>li>a:hover{
	background: url(../images/navigation-hover.png) repeat-x 0 0;
	text-decoration: none;
}
nav.wrapper>ul>li:last-child>a:hover {
  	background: url(../images/navigation-hover.png) repeat-x 0 0;
	  text-decoration: none;
}
section.wrapper>div,section.wrapper>footer {
  background: url(../images/widget-bg.png) repeat 0 0;
  margin-bottom: 30px;
  padding: 2px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
  -o-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
  color: #fff;
  margin-top: 12px;
}
section.wrapper>div>div,section.wrapper>footer>div {
  background: url(../images/patern.png) repeat 0 0;
  padding: 18px 15px 20px 17px;
  text-shadow: rgba(0,0,0,0.5) 0px 0px 3px;
  box-shadow: 0px 0px 14px rgba(0,0,0,0.6) inset;
  -moz-box-shadow: 0px 0px 14px rgba(0,0,0,0.6) inset;
  -webkit-box-shadow: 0px 0px 14px rgba(0,0,0,0.6) inset;
  -o-box-shadow: 0px 0px 14px rgba(0,0,0,0.6) inset;
  overflow: hidden;
}
section.wrapper>div>div>h1 {
  color: #1cfe10;
  font-size: 22px;
  font-family: 'coolvetica', arial, helvetica, serif;
  font-weight: normal;
  text-shadow: rgba(0,0,0,0.9) 0px 0px 2px;
  margin-bottom: 12px;
}
section.wrapper>footer>div>div {
  float: left;
  padding: 0 12px;
}
#pagebutton>div{
    float: left;
    font-weight: bold;
    font-size: 19px;
    background: url(../images/widget-bg.png) repeat 0 0;
    padding: 1px;
    margin-right: 15px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
    -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}
#pagebutton>div>a{
  color: #fff;
    padding: 2px 10px 2px 11px;
    text-shadow: rgba(0,0,0,0.9) 1px 1px 0px;
        background-color: rgba(0,0,0,0.5);
    display: block;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.6) inset;
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.6) inset;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6) inset;
    -o-box-shadow: 0px 0px 8px rgba(0,0,0,0.6) inset;
}
#pagebutton>div>button#page_button{
  color: #fff;
    padding: 2px 10px 2px 11px;
    text-shadow: rgba(0,0,0,0.9) 1px 1px 0px;
        background-color: rgba(0,0,0,0.5);
    display: block;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.6) inset;
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.6) inset;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6) inset;
    -o-box-shadow: 0px 0px 8px rgba(0,0,0,0.6) inset;
}
#pagebutton>div>a:hover{
  color: red;
}
.more,button {
  color: #1cfe10;
  background: url(../images/list-arr.png) no-repeat 0 4px;
  padding-left: 9px;
  border: none;
  cursor: pointer;
}
.more:hover,button:hover {
  color: #0acc00;
  text-decoration: none;
}
/************************************Admin Template*********************************/
body.login {
	margin: 0;
	background-color: rgba(255,255,255,0.6);
	background-image: url(../images/logbg.jpg);
	background-size: 100%;
	//overflow: hidden;
}
.loginmain #bg {
	margin: auto 0;
	overflow: hidden;
}
.loginmain {
	width: 32%;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 13%;
	margin-bottom: 10%;
	background-color: #fff;
	background: url(../images/logindivbg.png);
	background-size: 100%;
}
.loginmain>h1 {
	width: 100%;
	font-family: roya;
	font-weight: bold;
	color: #fff;
	font-size: 32px;
	text-align: center;
	padding: 12px 0;
	margin-top: 0;
	background-color: #af02e4;
	background: url(../images/logindivtopbg.png);
	background-size: 100%;
  text-shadow:
    2px 2px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}
.loginmain>input,.loginmain>button,.loginmain>textarea {
	background-color: rgba(0,0,0,0.65);
	border: none;
	width: 76%;
    padding: 18px 4%;
    margin: 16px 8%;
    color: white;
    font-family: roya;
    font-size: 24px;
    font-weight: bold;
}
.loginmain>input[type="submit"],.loginmain button {
	cursor: pointer;
	background: #680090;
	width: 50%;
	float: right;
	margin: 10px 25%;
	margin-bottom: 18px;
}/*
.loginmain>button {
	margin-right: 2%;
	margin-left: 8%;
	opacity: 0.5;
}
/************************************subAdmin Template*********************************/
body.subadmin {
  color: #000;
}
body.subadmin>div {
  margin-top: 4%;
  width: 50%;
  background-size: auto;
  padding: 12px 2%
}
body.subadmin .loginmain>input,body.subadmin .loginmain>button,body.subadmin .loginmain>textarea{
  background-color: rgba(0,0,0,0.65);
  border: none;
  width: 80%;
  padding: 8px 2%;
  margin: 14px 10%;
  color: white;
  font-family: roya;
  font-size: 16px;
  font-weight: bold;
}
body.subadmin .loginmain button {
  color: #fff;
  padding: 12px 4px;
}
.articles-manage{
  color:#fff;

}