{% extends "master.html" %}

{% block body %}

	<div class="loginmain">
		Subject : <input id = "subject" type = "text" name = "subject" placeholder="موضوع را وارد کنید"><center><div style="color: red" class="check"></div></center>
		Description : <textarea style="resize: none" id = "desc" rows = "3" cols = "50" name = "desc" placeholder="توضیحات را وارد کنید"></textarea><center><div style="color: red" class="check"></div></center>
		text : <textarea style="resize: none" id="text" rows="7" cols="50" name="text" placeholder="متن را وارد کنید"></textarea><center><div style="color: red" class="check"></div></center>
		keywords : <input id="keywords" type = "text" name= "keywords" placeholder="کلمه کلیدی را وارد کنید"><center><div style="color: red" class="check"></div></center>
		<div><button onclick="return check_add()">Add Submit </button></div>
	</div>


<script>
	function check_add(){
		var empty=false
		var sub_check=document.getElementById("subject").value;
		var dec_check=document.getElementById("desc").value;
		var txt_check=document.getElementById("text").value;
		var key_check=document.getElementById("keywords").value;
		if(sub_check.length < 1){
			document.getElementsByClassName("check")[0].innerHTML="Enter Subject !!";
			empty=true;
		}else{ document.getElementsByClassName("check")[0].innerHTML=""; }

		if(dec_check.length < 1){
			document.getElementsByClassName("check")[1].innerHTML="Enter Description !!";
			empty=true;
		}else{ document.getElementsByClassName("check")[1].innerHTML=""; }

		if(txt_check.length < 1){
			document.getElementsByClassName("check")[2].innerHTML="Enter Text !!";
			empty=true;
		}else{ document.getElementsByClassName("check")[2].innerHTML=""; }

		if(key_check.length < 1){
			document.getElementsByClassName("check")[3].innerHTML="Enter Keyword !!";
			empty=true;
		}else{ document.getElementsByClassName("check")[3].innerHTML=""; }

		if(empty==false){
			return ajaxfunc();
		}
	}

	function ajaxfunc(){
		var text = document.getElementById('text').value;
		var desc = document.getElementById('desc').value;
		var subject = document.getElementById('subject').value;
		var keywords = document.getElementById('keywords').value;  
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
		if (xhttp.readyState == 4 && xhttp.status == 200){
				var json = JSON.parse(xhttp.responseText);
				if(json['add'] == true){
					alert("Your New Article Is Submited");
					clear();
				}
				else if(json['add'] == false) {
					alert("There is Something Wrong");
				}
			}
		};
		xhttp.open("POST", "/admin/addArticle", true);
		xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhttp.send("text="+text+"&desc="+desc+"&subject="+subject+"&keywords="+keywords);
	}
	function clear(){
			document.getElementById("text").innerHTML ="";
			document.getElementById("desc").innerHTML ="";
			document.getElementById("subject").innerHTML ="";
			document.getElementById("keywords").innerHTML ="";
		}
	</script>

{% end %}
