{% extends "master.html" %}

{% block header %}
    <title> :: Manage Articles :: </title>
{% end %}
{% block body %}
<footer>
    <div class='articles-manage'>
        <div class="error" id="err" style="font-size: 25px"></div><br>
        {% for item in items %}
            <div id="item-id-{{item[0]}}">
                <ul>
                    <li><p><span style="color: #1cfe10">Title : </span>{{item[1]}}</p></li>
                    <li><p><span style="color: #1cfe10">Description : </span>{{item[3]}}</p></li>
                    <li><a href="/admin/EditArticle/{{item[0]}}">Update </a></li>
                    <li><button onclick="delete_item({{item[0]}})" >Delete</button></li>
                </ul>
            </div><br>
        {% end %}
        </div>

        <div id="pagebutton">
				{% for i in range (1,page_count+1)%}
					<div >
						<a href="{{i}}">{{i}}</a>
					</div>
				{% end %}
			</div>
</footer>
    <script>
        function delete_item(delete_id){
            var id = "item-id-" + delete_id;
            if(confirm("Are You Sure For Delete ?")){
                var err = document.getElementById("err");
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var result = JSON.parse(xhttp.responseText);
                    if(result['success'] == 'true'){
                        err.innerHTML = 'حذف با موفقیت انجام شد .';
                        document.getElementById(id).remove();
                    }
                    else{
                        err.innerHTML = result['error'];
                    }    
                }
                };
                xhttp.open("POST", "/admin/deleteArticle", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("id="+delete_id);
            }
        }
                
    </script>
    
{% end %}