</html>
	<head>
		{% block header %}
		
		{% end %}
		<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
	</head>
		
	<body class="login subadmin">
		{% block body %}

          {% end %}
		
     </body>


</html>
