{% extends "master.html" %}

{% block head %}
    <title>:: Articles ::</title>
    <meta name="keywords" content="{{article[2]}}" />
    <meta name="description" content="{{article[3]}}" />
    <style> 
        label{
             width:100px;
             display:inline-block;       
        }   
        .err{
            font-family:tahoma;
            color:navy;
        }
        .err:hover{
            font-size: 18px;
            color:red;
        }
        #comments{
            width:71%;
            margin:2% auto;
        }
        .comments_header{
            text-align:center;        
        }
        .border{
            background-color: azure;
            border-radius: 0%;
            border: 2px solid black;
            height: 28px;
        }
        .text_area{
            height: 100px;
            width: 38%
        }
    </style>
{% end %}
{% block body %}
    <div>
		<div>
			<h1>Title : {{article[1]}}</h1>
			<p><span style="color: #1cfe10">Description : </span>{{article[3]}}</p>
            <p><span style="color: #1cfe10">Text : </span>{{article[4]}}</p>
		</div>
	</div>    
    <aside style="direction:rtl;margin:20px auto;border:3px solid #000;padding:6%;width:60%;">
            <div id="demo"></div>
            <span class="err" id="err_post"></span>
            <div><label style="font-size: 18px">نام : </label><input class="border" type="input" id="txt_Name" name="Name" onblur="check_name()"/><span class="err" id="err_name"></span></div>
            <div><label style="font-size: 18px">پست الکترونیک : </label><input class="border" id="txt_Email" type="input" name="Email" onblur="check_mail()"/> <span class="err" id="err_mail"></span></div>
            <div><label style="font-size: 18px">متن  : </label><textarea class="border text_area" id="txt_Text" type="input" name="Text" onblur="check_text()"></textarea><span class="err" id="err_text"></span> </div>
            <div><button onclick="return send_comment()">Send Comment</button></div>
    </aside>
    <footer>
        <h3 style="font-size: 20px" class="comments_header">پیام ها </h3>
        <div id="comments">
            {% for comment in comments %}
                <ul>
                    <div>
                        <li><h5><strong style="color: #1cfe10">Name : </strong>{{ comment[0] }}</h5></li>
                        <li><span><strong style="color: #1cfe10">Text : </strong>{{ comment[1] }}</span></li><br>
                        <hr style="margin-bottom: 4%;color: white;">
                    </div>
                </ul>
            {% end %}
        </div>
        <center><button id="load" style="font-size: 26px;" type="button" onclick="return load_more()">Load More</button></center>
    </footer>

    <script>
        counter = 1;
        function load_more(){ 
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var result = JSON.parse(xhttp.responseText);
                    if (result["limit"] >= result["count_comment"]){
                        document.getElementById("load").remove();
                    }
                    var comments = document.getElementById("comments");
                    for(i=0 ; i < result["comments"].length ; i++ ){
                        var newComment = `<ul>
                                            <div>
                                                <li><h5><strong style="color: #1cfe10">Name : </strong>`+result["comments"][i][0]+`</h5></li>
                                                <li><span><strong style="color: #1cfe10">Text : </strong>`+result["comments"][i][0]+`</span></li><br>
                                                <hr style="margin-bottom: 4%;color: white;">
                                            </div>
                                         </ul>`;
                        comments.innerHTML = comments.innerHTML + newComment;
                    }
                }
            }
            xhttp.open("POST", "/article/{{article_id}}", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("article_id="+{{article_id}}+"&counter="+counter);
            counter = counter + 1; 
        }

        function check_name(){
            var name = document.getElementById('txt_Name').value; 
            var err_name = document.getElementById('err_name');                
            if(name.length<1){
                err_name.innerHTML = 'لطفا نام خود را وارد کنید' ;
                return false;
            }
            else{
                document.getElementById("err_name").innerHTML=""
                return true;
            }
        }

        function check_mail(){
            var name = document.getElementById('txt_Email').value; 
            var err_name = document.getElementById('err_mail');                
            if(name.length<1){
                err_name.innerHTML = 'لطفا پست الکترونیک خود را وارد نمایید' ;
                return false;
            }
            else{
                document.getElementById("err_mail").innerHTML=""   
                return true; 
            }
        }

       function check_text(){
            var name = document.getElementById('txt_Text').value; 
            var err_name = document.getElementById('err_text');                
            if(name.length<1){
                err_name.innerHTML = 'لطفا کامنت خود را وارد نمایید' ;
                return false;
            }
            else {
                document.getElementById("err_text").innerHTML=""
                return true;
            }
        }

        function send_comment(){
            if (check_name() == false){document.getElementById('err_name').innerHTML='لطفا نام خود را وارد کنید';}
            if (check_mail() == false){document.getElementById('err_mail').innerHTML='لطفا پست الکترونیک خود را وارد نمایید';}
            if (check_text() == false){document.getElementById('err_text').innerHTML='لطفا کامنت خود را وارد نمایید';}
            if (check_name() == true && check_mail()==true && check_text() == true){
                var name = document.getElementById('txt_Name').value;
                var email = document.getElementById('txt_Email').value;
                var text = document.getElementById('txt_Text').value;           
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (xhttp.readyState == 4 && xhttp.status == 200) {
                        var result = JSON.parse(xhttp.responseText);
                        if(result['success'] == 'true'){
                            var comments = document.getElementById("comments");
                            var newComment = `<ul>
                                                <div>
                                                    <li><h5><strong style="color: #1cfe10">Name : </strong>`+result["name"]+`</h5></li>
                                                    <li><span><strong style="color: #1cfe10">Text : </strong>`+result["text"]+`</span></li><br>
                                                    <hr style="margin-bottom: 4%;color: white;">
                                                </div>
                                            </ul>`;
                            comments.innerHTML = comments.innerHTML + newComment;
                            alert("Send Comment Successfull !!")  
                        }
                        if (result["success"] == false) {
                            alert("اطلاعات را کامل وارد کنید !!")                                  
                        }
                        if (result["error"] == true){
                            alert("خطا در ثبت اطلاعات !!") 
                        }  
                    }
                };
                xhttp.open("POST", "/sendcomment", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("Name="+name+"&Email="+email+"&Text="+text+"&id="+{{article[0]}});
            }
        }    
    </script>
{% end %}