<html>
  <head>
    <title>
      :: Error ::    
    </title>
    <style>
      .error{
        color: white;
        font-size: 25px;
      }
      strong.Error{
          color: red;

      }
    </style>
  </head>

  <body style="background-image: url(../../static/images/error.jpeg)">
      <center><div style="margin: 5%"><strong class="error Error"> Error :</strong> <span class="error"> {{error}}</span></div></center>
  </body>

</html>