{% extends "master.html" %}

{% block head %}
    <title>قسمت نطرات</title>
    <style> 
        #comments{
            width:60%;
            margin:2% auto;
        }
        .comments_header{
            text-align:center;        
        }
        .button{
            height: 4%;
            width: 15%;
        }
        .button:hover{
            color: red;
            font-weight: 900;
        }
    </style>
{% end %}

{% block body %}
    <footer>
        <h3 class="comments_header"> پیام ها </h3>
        <div id="comments">
            {% for comment in comments %}
            <ul id="{{ str(comment[0]) + 'ul' }}">
                <li><div><h5><span style="color: #1cfe10"> Name : </span>{{ comment[1] }}</h5>    
                    <span><span style="color: #1cfe10"> Text : </span>{{ comment[3] }}</span><br> 
                    <span><span style="color: #1cfe10"> Article ID : </span>{{ comment[4] }}</span>
                    <p id="{{ str(comment[0]) + 'p' }}"></p>
                    <input class="button" type="submit" value="Delete" onclick="return del(this.id)" id={{ str(comment[0]) }}>
                </div></li><br><hr style="margin-bottom: 4%;color: white;">
            </ul>
            {% end %}
        </div>
        <center><button id="load" style="font-size: 26px;" type="button" onclick="return load_more()">Load More</button></center>
    </footer>
<script>
    counter = 1;
    function load_more(){ 
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                var result = JSON.parse(xhttp.responseText);
                if (result["limit"] >= result["count_comment"]){
                    document.getElementById("load").remove();
                }
                var comments = document.getElementById("comments");
                for(i=0 ; i < result["comments"].length ; i++ ){
                    var newComment = `<ul id="`+result["comments"][i][0] + `ul">
                                        <li><div><h5><span style="color: #1cfe10"> Name : </span>`+result["comments"][i][1]+`</h5>    
                                            <span><span style="color: #1cfe10"> Text : </span>`+result["comments"][i][2]+`</span><br> 
                                            <span><span style="color: #1cfe10"> Article ID : </span>`+result["comments"][i][3]+`</span>
                                            <p id="`+result["comments"][i][0] + `p"></p>
                                            <input class="button" type="submit" value="Delete" onclick="return del(this.id)" id="`+result["comments"][i][0]+`">
                                        </div></li><br><hr style="margin-bottom: 4%;color: white;">
                                    </ul>`;
                    comments.innerHTML = comments.innerHTML + newComment;
                }
            }
        }
        xhttp.open("POST", "/admin/loadcm", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("article_id="+{{comment[4]}}+"&counter="+counter);
        counter = counter + 1; 
    }
        
	function del(id){
        if(confirm("Are U Sure For Delete ? ")){
            var idp = id + "p";
            var idul = id + "ul"
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                var result = JSON.parse(xhttp.responseText);		 
                if(result['delete'] == false){
                    document.getElementById(idp).innerHTML = "مشکل در پاک کردن نظر";
                }
                else if (result['delete'] == true) {
                    document.getElementById(idul).remove()
                }
                else {
                    document.getElementById(idp).innerHTML = "لطفا بعدا تلاش کنید";
                }
            }
            };
            xhttp.open("POST", "/admin/DeleteComment", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("id="+id);
        }
	}
</script>
{% end %}
