{% extends "master.html" %}

{% block head %}
    <title>:: Login Index ::</title>
{% end %}

{% block body %}
     <strong style="float: left;font-size: 26px;margin-left: 20%;"><span style="color: #1cfe10"> User : </span><span style="color: red">{{user}}</span></strong>
{%end%}