{% extends "master.html" %}

{% block body %}

	<div id="article">
		{% for article in articles %}
		<div>
			<div>
				<h1><span style="color:#1cfe10">Title : </span><span style="color: white">{{article[1]}}</span></h1>
				<p><span style="color: #1cfe10">Description : </span>{{article[3]}}</p>
				<p><span style="color: #1cfe10">Text : </span>{{article[4]}}</p>
				<p><span style="color: #1cfe10">Keyword : </span>{{article[2]}}</p>
				<a href="/article/{{article[0]}}" class="more">link post</a>
			</div>
		</div><br>
		{% end %}
	</div>
	<footer >
		<div>
			{% module xsrf_form_html() %}
			<div>Text : <input id = "T" style="color:black;border-color:red;background-color:azure;" type="text" name = "texts" ></div>
			<div><select id= "Ch" name="checkbox" style="color: black;background-color: azure;height: 23px;">
				<option value="keywords" >keywords</option>
				<option value="title" selected>title</option>
				<option value="text" selected>text</option>
			</select></div>
			<div><button onclick="return ajaxsearch(0)" > Search </button></div> <!-- inja 0 mizarim vase inke id button1 ba search yeki nabashe vase set kardane cookie chon in moshkel pish miyad ke vaghti ye chiz ro search mikonim bad age text ro avaz nakonim mishe ba button oon ro search kard be jaye serach kardan -->

			<div id="pagebutton">
				{% for i in range (1,count+1)%}
					<div >
						<a href="/page/{{i}}">{{i}}</a>
					</div>
				{% end %}
			</div>

	<script>
	
	function ajaxsearch(page_id){//avalin bar 0 ast ke mishe hamoon search
			var texts = document.getElementById('T').value;
            var checkbox = document.getElementById('Ch').value; 
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200){
                  var json = JSON.parse(xhttp.responseText); //its become a list
				  article=json["article"];
				  page_count=json["page_count"];
                  if( json["error"] == true){
					    alert("THERE IS NOTHING TO FIND");
				  }
				  else if (json["error"] == "len"){
					  alert("Enter Text")
				  }
				  else{
					    var resualt="";
						document.getElementById("article").innerHTML="";
						for(i=0 ; i<article.length ; i++){
							html=`<div> 
									<div> 
										<h1><span style="color:#1cfe10">Title : </span><span style="color: white">`+article[i][1]+`</span></h1> 
										<p><span style="color: #1cfe10">Description : </span>`+article[i][3]+`</p>
										<p><span style="color: #1cfe10">Text : </span>`+article[i][4]+`</p>
										<p><span style="color: #1cfe10">Keyword : </span>`+article[i][2]+`</p>
										<a href="/article/{{article[0]}}" class="more">link post</a>
									</div>
								</div><br>`
							resualt = html + resualt ;
						}
						document.getElementById("article").innerHTML=resualt;
						show_page_button(page_count);
				  }
             }
            };
			if(page_id != 0){ //vase inke age too text hamoon lahze ye chize dg zad ba button search nakone chon inja mige age page_id0 (hamoon search) nabood biya cookie ha ro bekhoon va meghdar haye ghablesh ro bezar ta betoonim faghat ba search , search konim
				texts = getCookie("texts")//inja ham dade ha ro post mikonim
				checkbox = getCookie("checkbox")
			}
            xhttp.open("POST", "/search", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("texts="+texts+"&checkbox="+checkbox+"&page_id="+page_id);
        }

		function show_page_button(page_count){
			html=""
			var page_button = document.getElementById("pagebutton").innerHTML="";
			for (j=0 ; j<page_count ; j++){
				html += `<div >
							<a href="javascript:ajaxsearch(`+(j+1)+`)">`+(j+1)+`</button>
						</div>`
			}
			document.getElementById("pagebutton").innerHTML=html;
		}
		
		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for(var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
				}
			}
			return "";
		}
	</script>
</div>
</footer>
{% end %}
	

