<html>
  <head>
    {% block head %}<title>:: CMS ::</title>{% end %}
    <link href="{{ static_url("css/style.css") }}" rel="stylesheet" type="text/css"/>
    <style>
      .nav_hover:hover{
        color:#1cfe10;
      }
      #logout:hover{
        color: red;
      }
    </style>
  </head>
  
  <body>
    <nav></nav>

    <section>

    <nav class="wrapper">
            <h1 id="logo"><a href="#"></a></h1>
            <ul>
                <li><a class="nav_hover" href="/page/1">مقاله ها</a></li>
                <li><a class="nav_hover" href="/admin/addArticle">اضافه کردن مقاله</a></li>
                <li><a id="logout" class="nav_hover" href="/logout">خروج</a></li>
            </ul>
        </nav>
        
    <section class="wrapper">
      {% block body %}

      {% end %}
    </section>

    <footer></footer>

  </body>
</html>