{% extends "master.html" %}

{% block body %}
<div id="article">
	{% for article in articles %}
	<div>
		<div>
			<h1><span style="color: #1cfe10">Title : </span><span style="color: white">{{article[1]}}</span></h1>
			<p><span style="color: #1cfe10">Description : </span>{{article[3]}}</p>
			<p><span style="color: #1cfe10">Text : </span>{{article[4]}}</p>
			<p><span style="color: #1cfe10">Keyword : </span>{{article[2]}}</p>
			<a href="/article/{{article[0]}}" class="more">link post</a>
		</div>
	</div><br>
	{% end %}
</div>
{%end%}



